body {
    font-family: 'Helvetica', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: url('photos/header2.jpg') no-repeat top;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 20px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns content to the bottom */
    height: 600px; 
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.project-links {
    margin-bottom: 20px;
}

.project-links h3 a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

.project-links p {
    margin: 5px 0;
}
